infra/api/environments/prod/step_function/dor_fineos_etl.json
{
  "Comment": "DOR FINEOS ETL step function",
  "StartAt": "fineos_import_employee_updates",

  "States": {
    "fineos_import_employee_updates": {
      "Comment": "FINEOS employee updates import to RDS",
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "TimeoutSeconds": 28800,
      "Parameters": {
        "LaunchType": "FARGATE",
        "PlatformVersion": "1.4.0",
        "Cluster": "${cluster_arn}",
        "TaskDefinition": "pfml-api-${environment_name}-fineos-import-employee-updates",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "SecurityGroups": ["${security_group}"],
            "Subnets": ["${subnet_1}", "${subnet_2}"],
            "AssignPublicIp": "DISABLED"
          }
        }
      },
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "failure"}],
      "Next": "dor_import"
    },

    "dor_import": {
      "Comment": "DOR import to RDS",
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "TimeoutSeconds": 28800,
      "Parameters": {
        "LaunchType": "FARGATE",
        "PlatformVersion": "1.4.0",
        "Cluster": "${cluster_arn}",
        "TaskDefinition": "pfml-api-${environment_name}-dor-import",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "SecurityGroups": ["${security_group}"],
            "Subnets": ["${subnet_1}", "${subnet_2}"],
            "AssignPublicIp": "DISABLED"
          }
        }
      },
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "failure"}],
      "Next": "load_employers_to_fineos_init"
    },

    "load_employers_to_fineos_init": {
      "Comment": "Set number of load_employers_to_fineos tasks",
      "Type": "Pass",
      "Parameters": {
        "parallel": [
          ["load-employers-to-fineos", "--process-id=1"],
          ["load-employers-to-fineos", "--process-id=2"],
          ["load-employers-to-fineos", "--process-id=3"]
        ]
      },
      "ResultPath": "$.map",
      "OutputPath": "$.map",
      "Next": "load_employers_to_fineos_map"
    },

    "load_employers_to_fineos_map": {
      "Comment": "Create employers in FINEOS using API calls",
      "Type": "Map",
      "ItemsPath": "$.parallel",

      "Iterator": {
        "StartAt": "load_employers_to_fineos",
        "States": {
          "load_employers_to_fineos": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "TimeoutSeconds": 28800,
            "Parameters": {
              "LaunchType": "FARGATE",
              "PlatformVersion": "1.4.0",
              "Cluster": "${cluster_arn}",
              "TaskDefinition": "pfml-api-${environment_name}-load-employers-to-fineos",
              "Overrides": {
                "ContainerOverrides": [
                  {
                    "Name": "load-employers-to-fineos",
                    "Environment": [
                      { "Name": "EMPLOYER_LOAD_MODE", "Value": "updates" }
                    ],
                    "Command.$": "$"
                  }
                ]
              },
              "NetworkConfiguration": {
                "AwsvpcConfiguration": {
                  "SecurityGroups": ["${security_group}"],
                  "Subnets": ["${subnet_1}", "${subnet_2}"],
                  "AssignPublicIp": "DISABLED"
                }
              }
            },
            "End": true
          }
        }
      },

      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "failure"}],
      "Next": "fineos_eligibility_feed_export"
    },

    "fineos_eligibility_feed_export": {
      "Comment": "Generate eligibility files containing employees for FINEOS",
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "TimeoutSeconds": 28800,
      "Parameters": {
        "LaunchType": "FARGATE",
        "PlatformVersion": "1.4.0",
        "Cluster": "${cluster_arn}",
        "TaskDefinition": "pfml-api-${environment_name}-fineos-eligibility-feed-export",
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "fineos-eligibility-feed-export",
              "Environment": [
                { "Name": "ELIGIBILITY_FEED_MODE", "Value": "updates" },
                { "Name": "ELIGIBILITY_FEED_UPDATE_BATCH_SIZE", "Value": "50000" },
                { "Name": "ELIGIBILITY_FEED_EXPORT_FILE_NUMBER_LIMIT", "Value": "20000" }
              ]
            }
          ]
        },
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "SecurityGroups": ["${security_group}"],
            "Subnets": ["${subnet_1}", "${subnet_2}"],
            "AssignPublicIp": "DISABLED"
          }
        }
      },
      "Catch": [{"ErrorEquals": ["States.ALL"], "Next": "failure"}],
      "Next": "success"
    },

    "success": {
      "Comment": "Successful end state",
      "Type": "Succeed"
    },

    "failure": {
      "Comment": "Failure end state",
      "Type": "Fail"
    }
  }
}
